<div dir="rtl">
برای طراحی ایندکس در الاستیک‌سرچ ابتدا سعی می‌کنم یک دید کلی نسبت به مجموعه داده پیدا کنم.
</div>

In [1]:
import pandas as pd

books = pd.read_csv('books_info.csv')

books.head()

,title,url,contributors,date,format,fulltext_url,trove_id,language,rights,pages,form,volume,parent,children,text_downloaded,text_file
0,"Goliath Joe, fisherman / by Charles Thackeray ...",https://trove.nla.gov.au/work/10013347,"Thackeray, Charles",1900-1919,Book|Book/Illustrated,https://nla.gov.au/nla.obj-2831231419,nla.obj-2831231419,English,Out of Copyright|http://rightsstatements.org/v...,130,Book,NaN,NaN,NaN,True,goliath-joe-fisherman-by-charles-thackeray-wob...
1,Grammar of the Narrinyeri tribe of Australian ...,https://trove.nla.gov.au/work/10029401,"Taplin, George",1878-1880,Book|Government publication,http://nla.gov.au/nla.obj-688657424,nla.obj-688657424,English,Out of Copyright|http://rightsstatements.org/v...,24,Book,NaN,NaN,NaN,True,grammar-of-the-narrinyeri-tribe-of-australian-...
2,The works of the Rev. Sydney Smith,https://trove.nla.gov.au/work/1004403,"Smith, Sydney, 1771-1845",1839-1900,Book|Book/Illustrated|Microform,https://nla.gov.au/nla.obj-630176596,nla.obj-630176596,English,No known copyright restrictions|http://rightss...,65,Book,NaN,NaN,NaN,True,the-works-of-the-rev-sydney-smith-nla.obj-6301...
3,Nellie Doran : a story of Australian home and ...,https://trove.nla.gov.au/work/10049667,Miriam Agatha,1914-1923,Book,http://nla.gov.au/nla.obj-24357566,nla.obj-24357566,English,Out of Copyright|http://rightsstatements.org/v...,246,Book,NaN,NaN,NaN,True,nellie-doran-a-story-of-australian-home-and-sc...
4,Lastkraftwagen 3 t Ford : Baumuster V 3000 S :...,https://trove.nla.gov.au/work/10053234,Germany. Heer. Heereswaffenamt,1942,Book|Book/Illustrated|Government publication,https://nla.gov.au/nla.obj-51530748,nla.obj-51530748,German,Out of Copyright|http://rightsstatements.org/v...,80,Book,NaN,NaN,NaN,True,lastkraftwagen-3-t-ford-baumuster-v-3000-s-ger...

In [5]:
books.shape

(42174, 16)

In [6]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42174 entries, 0 to 42173
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            42174 non-null  object
 1   url              42174 non-null  object
 2   contributors     35619 non-null  object
 3   date             42086 non-null  object
 4   format           42174 non-null  object
 5   fulltext_url     42174 non-null  object
 6   trove_id         42174 non-null  object
 7   language         27890 non-null  object
 8   rights           27765 non-null  object
 9   pages            42174 non-null  int64
 10  form             42158 non-null  object
 11  volume           1423 non-null   float64
 12  parent           1423 non-null   object
 13  children         240 non-null    object
 14  text_downloaded  42174 non-null  bool
 15  text_file        29652 non-null  object
dtypes: bool(1), float64(1), int64(1), object(13)
memory usage: 4.9+ MB

In [7]:
books.describe()

              pages       volume
count  42174.000000  1423.000000
mean      57.087803   130.380183
std      116.221688   183.899416
min        0.000000     1.000000
25%        0.000000     2.000000
50%       15.000000    13.000000
75%       58.000000   244.500000
max     1824.000000   600.000000

In [2]:
books.count()

title              42174
url                42174
contributors       35619
date               42086
format             42174
fulltext_url       42174
trove_id           42174
language           27890
rights             27765
pages              42174
form               42158
volume              1423
parent              1423
children             240
text_downloaded    42174
text_file          29652
dtype: int64

In [12]:
books.isna().sum()

title                  0
url                    0
contributors        6555
date                  88
format                 0
fulltext_url           0
trove_id               0
language           14284
rights             14409
pages                  0
form                  16
volume             40751
parent             40751
children           41934
text_downloaded        0
text_file          12522
dtype: int64

In [17]:
books.duplicated().sum()

0

In [99]:
books['trove_id'].duplicated().sum()

3117

<div dir="rtl">
از اونجایی‌که نمونه‌ی ستون‌های volume، parent و children را به علت تهی بودن مقادیر در head در بالا ندیدیم، ایجا نمایششان می‌دهم.
</div>

In [3]:
temp = books[books['volume'].notna()]
display(temp['volume'])

temp = books[books['parent'].notna()]
display(temp['parent'])

temp = books[books['children'].notna()]
display(temp['children'])

71       1.0
72       2.0
104      1.0
105      2.0
227      1.0
        ...
42060    2.0
42064    1.0
42065    2.0
42111    1.0
42112    2.0
Name: volume, Length: 1423, dtype: float64

71         nla.obj-60272760
72         nla.obj-60272760
104      nla.obj-2428558076
105      nla.obj-2428558076
227        nla.obj-77324653
                ...
42060      nla.obj-63407750
42064    nla.obj-1335763041
42065    nla.obj-1335763041
42111     nla.obj-396862927
42112     nla.obj-396862927
Name: parent, Length: 1423, dtype: object

73                       nla.obj-60272771|nla.obj-60272783
106                  nla.obj-2438504941|nla.obj-2438506988
228                                       nla.obj-77324219
256                     nla.obj-412255342|nla.obj-75124485
273                     nla.obj-396883876|nla.obj-61875251
                               ...
41856    nla.obj-1194416238|nla.obj-1194416440|nla.obj-...
42022    nla.obj-1385727717|nla.obj-1385745492|nla.obj-...
42061                    nla.obj-63407775|nla.obj-74680162
42066                nla.obj-1351153218|nla.obj-1351153613
42113                   nla.obj-398086951|nla.obj-52789767
Name: children, Length: 240, dtype: object

<div dir="rtl">
اعداد ستون volume به‌صورت x.0 تعریف شده است.
</div>

In [13]:
temp = books[(~books['volume'].astype('str').str.contains('.0')) & (books['volume'].notna())]
display(temp.head())

Empty DataFrame
Columns: [title, url, contributors, date, format, fulltext_url, trove_id, language, rights, pages, form, volume, parent, children, text_downloaded, text_file]
Index: []

<div dir="rtl">
آیا ستون contributors، format یا children چند مقداری هستند؟
</div>

In [27]:
temp = books[(books['contributors'].astype('str').str.contains('\|'))]
display(temp['contributors'])

18       Academic Salaries Tribunal (Australia)| THE PA...
126      Australia. Parliament. Senate| The Senate| Aus...
155      Australia. Parliament. Senate| The Senate| Aus...
178      Australian Institute of Multicultural Affairs|...
224      Australia. Public Service Board| | Australia. ...
                               ...
41175    Commonwealth Grants Commission (Australia)| Au...
41768    Australia. Parliament. Department of the Senat...
41944    Australian Broadcasting Commission| E. W. GARSIDE
41984    Gas and Fuel Corporation of Victoria| | Gas an...
41997    Royal Australian Historical Society| | Royal A...
Name: contributors, Length: 61, dtype: object

In [7]:
temp = books[(books['format'].astype('str').str.contains('\|'))]
display(temp['format'])

0                                    Book|Book/Illustrated
1                              Book|Government publication
2                          Book|Book/Illustrated|Microform
4             Book|Book/Illustrated|Government publication
5                                    Book|Book/Illustrated
                               ...
42167                   Book|Article/Other article|Article
42168                                Book|Book/Illustrated
42169                                Book|Book/Illustrated
42172                                Book|Book/Illustrated
42173    Government publication|Book|Book/Illustrated|A...
Name: format, Length: 15962, dtype: object

In [8]:
temp = books[(books['children'].astype('str').str.contains('\|'))]
display(temp['children'])

73                       nla.obj-60272771|nla.obj-60272783
106                  nla.obj-2438504941|nla.obj-2438506988
256                     nla.obj-412255342|nla.obj-75124485
273                     nla.obj-396883876|nla.obj-61875251
294                     nla.obj-375325055|nla.obj-42322220
                               ...
41856    nla.obj-1194416238|nla.obj-1194416440|nla.obj-...
42022    nla.obj-1385727717|nla.obj-1385745492|nla.obj-...
42061                    nla.obj-63407775|nla.obj-74680162
42066                nla.obj-1351153218|nla.obj-1351153613
42113                   nla.obj-398086951|nla.obj-52789767
Name: children, Length: 201, dtype: object

<div dir="rtl">
آیا تمامی نمونه‌های ستون date به‌صورت رنج تعریف شده‌اند؟
</div>

In [35]:
temp = books[(~books['date'].astype('str').str.contains('-'))]
display(temp['date'])

4        1942
6        1909
7        1915
8        1888
9        1545
         ...
42165    1837
42167    1914
42168    1951
42169    1906
42173    1980
Name: date, Length: 37113, dtype: object

In [36]:
temp = books[(books['date'].astype('str').str.contains('-'))]
display(temp['date'])

0        1900-1919
1        1878-1880
2        1839-1900
3        1914-1923
5        1900-1920
           ...
42160    1953-1977
42166    1935-1980
42170    1931-1934
42171    1980-2021
42172    1861-1980
Name: date, Length: 5061, dtype: object

<div dir="rtl">
نوع ستون text_downloaded چگونه است؟
</div>

In [40]:
bool(books['text_downloaded'][0])

True

# Send to Elastic

In [11]:
from elasticsearch import Elasticsearch
import csv
import re

es = Elasticsearch([{'host': 'localhost', 'port': 9200, 'scheme': 'http'}])

index_name = 'books'

index_mappings = {
    "properties": {
        "title": {"type": "text"},
        "url": {"type": "keyword"},
        "contributors": {"type": "text"}, # array
        "date": {"type": "date_range", "format": "yyyy"},
        "format": {"type": "keyword"}, # array
        "fulltext_url": {"type": "keyword"},
        "trove_id": {"type": "keyword"},
        "language": {"type": "keyword"},
        "rights": {"type": "text"},
        "pages": {"type": "long"},
        "form": {"type": "keyword"},
        "volume": {"type": "float"},
        "children": {"type": "keyword"}, # array
        "parent": {"type": "keyword"},
        "text_downloaded": {"type": "boolean"},
        "text_file": {"type": "text"}
    }
}

try:
    es.indices.delete(index=index_name)
except:
    pass

es.indices.create(index=index_name, mappings=index_mappings)

csv_file = 'books_info.csv'

with open(csv_file, 'r', encoding='utf-8') as fd:
    reader = csv.DictReader(fd)
    c = 0
    for row in reader:
        # arrays
        row['contributors'] = [row['contributors'].split('|')]
        row['format'] = [row['format'].split('|')]
        row['children'] = [row['children'].split('|')]
        
        # date
        if '-' in row['date']:
            row['date'] = {'gte': row['date'].split('-')[0], 'lte': row['date'].split('-')[1]}
        # Added this elif for error: BadRequestError: BadRequestError(400, 'mapper_parsing_exception', 'failed to parse date field [191] with format [yyyy]: [failed to parse date field [191] with format [yyyy]]')
        elif not re.match('\d{4}', row['date']):    
            row['date'] = {}    
        # Added this elif for error: BadRequestError: BadRequestError(400, 'mapper_parsing_exception', 'cannot parse empty date')
        elif row['date'].strip() != '':
            row['date'] = {'gte': row['date'], 'lte': row['date']}
        else:
            row['date'] = {}

        # boolean
        if row['text_downloaded'] == 'False':
            row['text_downloaded'] = False
        else:
            row['text_downloaded'] = bool(row['text_downloaded'])

        es.index(index=index_name, document=row)

        c = c + 1
        print('\r{}'.format(c), end='')

es.indices.refresh(index=index_name)

42174

ObjectApiResponse({'_shards': {'total': 2, 'successful': 1, 'failed': 0}})

In [6]:
import csv
csv_file = 'books_info.csv'
with open(csv_file, 'r', encoding='utf-8') as fd:
    reader = csv.DictReader(fd)
    for row in reader:
        print(row)
        break

{'title': 'Goliath Joe, fisherman / by Charles Thackeray (Wobbegong)', 'url': 'https://trove.nla.gov.au/work/10013347', 'contributors': 'Thackeray, Charles', 'date': '1900-1919', 'format': 'Book|Book/Illustrated', 'fulltext_url': 'https://nla.gov.au/nla.obj-2831231419', 'trove_id': 'nla.obj-2831231419', 'language': 'English', 'rights': 'Out of Copyright|http://rightsstatements.org/vocab/NKC/1.0/', 'pages': '130', 'form': 'Book', 'volume': '', 'parent': '', 'children': '', 'text_downloaded': 'True', 'text_file': 'goliath-joe-fisherman-by-charles-thackeray-wob-nla.obj-2831231419.txt'}

# From Elastic to Cassandra

In [7]:
import uuid
from cassandra.cqlengine import columns, connection
from cassandra.cqlengine.management import sync_table
from cassandra.cqlengine.models import Model
from cassandra.cqlengine.query import BatchQuery
from cassandra.cluster import Cluster

In [71]:
cluster = Cluster(['127.0.0.1'])
session = cluster.connect()
session.execute("DROP KEYSPACE IF EXISTS books")
session.execute("CREATE KEYSPACE IF NOT EXISTS books WITH replication = {'class': 'SimpleStrategy', 'replication_factor' : 1};")
session.shutdown()

In [73]:
class Children(Model):
    trove_id = columns.Text(primary_key=True)
    title = columns.Text()
    contributors = columns.List(columns.Text())
    url = columns.Text()
    fulltext_url = columns.Text()
    format = columns.List(columns.Text())
    date = columns.DateTime()
    pages = columns.BigInt()

class Parents(Model):
    trove_id = columns.Text(primary_key=True)
    title = columns.Text()
    contributors = columns.List(columns.Text())
    url = columns.Text()
    fulltext_url = columns.Text()
    format = columns.List(columns.Text())
    date = columns.DateTime()
    pages = columns.BigInt()

connection.setup(['127.0.0.1'], "books", protocol_version=3)

sync_table(Children)
sync_table(Parents)

## Children table

In [106]:
from elasticsearch import Elasticsearch
import csv
import re
from datetime import datetime
from pprint import pprint

es = Elasticsearch([{'host': 'localhost', 'port': 9200, 'scheme': 'http'}])

index_name = 'books'
date_format = "%Y"

# search_body = {
#     "query": {
#         "bool": {
#             "must_not": {
#                 "term": {
#                     "parent": ""
#                 }
#             }
#         }
#     },
#     "sort": [
#         {"trove_id": "asc"},
#         {"url": "desc"}
#     ]
# }
# result = es.search(index=index_name, body=search_query)

search_query = {
    "bool": {
        "must_not": {
            "term": {
                "parent": ""
            }
        }
    }
}
search_sort = [
        {"trove_id": "asc"},
        {"url": "desc"}
    ]
result = es.search(index=index_name, query=search_query, sort=search_sort, size=100)

# pprint(result)

while True:
    print(len(result['hits']['hits']))
    if not len(result['hits']['hits']):
        break

    batch = BatchQuery()
    for hit in result['hits']['hits']:
        trove_id = hit['_source']['trove_id']
        title = hit['_source']['title']
        contributors = hit['_source']['contributors']
        if isinstance(contributors, list):
            contributors = contributors[0] # reason: "format": [["Book", "Book/Illustrated", "Microform"]],
        url = hit['_source']['url']
        fulltext_url = hit['_source']['fulltext_url']
        book_format = hit['_source']['format']
        if isinstance(book_format, list):
            book_format = book_format[0]
        date = hit['_source']['date']
        if 'lte' in date:
            date = datetime.strptime(date['lte'], date_format)
        elif date:
            date = datetime.strptime(date, date_format)
        else:
            date = None
        pages = int(hit['_source']['pages'])
        
        Children.batch(batch).create(
            trove_id = trove_id,
            title = title,
            contributors = contributors,
            url = url,
            fulltext_url = fulltext_url,
            format = book_format,
            date = date,
            pages = pages
        )
        
    batch.execute()

    result = es.search(index=index_name, query=search_query, sort=search_sort, search_after=[trove_id, url], size=100)
    print('{}'.format(trove_id))

100
nla.obj-2376117115
100
nla.obj-268958926
100
nla.obj-389796893
100
nla.obj-501309709
100
nla.obj-56126203
100
nla.obj-56145749
100
nla.obj-56155742
100
nla.obj-56165741
100
nla.obj-56175745
100
nla.obj-56185743
100
nla.obj-57506422
100
nla.obj-58731599
100
nla.obj-69157444
100
nla.obj-76678742
23
nla.obj-888591854
0

## Parents table

In [108]:
from elasticsearch import Elasticsearch
import csv
import re
from datetime import datetime
from pprint import pprint

es = Elasticsearch([{'host': 'localhost', 'port': 9200, 'scheme': 'http'}])

index_name = 'books'
date_format = "%Y"


search_query = {
    "bool": {
        "must_not": {
            "term": {
                "children": ""
            }
        }
    }
}
search_sort = [
        {"trove_id": "asc"},
        {"url": "desc"}
    ]
result = es.search(index=index_name, query=search_query, sort=search_sort, size=100)

while True:
    print(len(result['hits']['hits']))
    if not len(result['hits']['hits']):
        break

    batch = BatchQuery()
    for hit in result['hits']['hits']:
        trove_id = hit['_source']['trove_id']
        title = hit['_source']['title']
        contributors = hit['_source']['contributors']
        if isinstance(contributors, list):
            contributors = contributors[0]
        url = hit['_source']['url']
        fulltext_url = hit['_source']['fulltext_url']
        book_format = hit['_source']['format']
        if isinstance(book_format, list):
            book_format = book_format[0]
        date = hit['_source']['date']
        if 'lte' in date:
            date = datetime.strptime(date['lte'], date_format)
        elif date:
            date = datetime.strptime(date, date_format)
        else:
            date = None
        pages = int(hit['_source']['pages'])
        
        Parents.batch(batch).create(
            trove_id = trove_id,
            title = title,
            contributors = contributors,
            url = url,
            fulltext_url = fulltext_url,
            format = book_format,
            date = date,
            pages = pages
        )
        
    batch.execute()

    result = es.search(index=index_name, query=search_query, sort=search_sort, search_after=[trove_id, url], size=100)
    print('{}'.format(trove_id))

100
nla.obj-410216858
100
nla.obj-60720830
40
nla.obj-953535548
0